@model IEnumerable<PracticeSoftwareApplication.DomainModels.Subject>

@{
    ViewBag.Title = "Предмети";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Список предметів</h2>

<p>
    @Html.ActionLink("Створити новий", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Предмет")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
