@model IEnumerable<Teacher>
@using PracticeSoftwareApplication.DomainModels
@using PracticeSoftwareApplication.Models
@using PracticeSoftwareApplication.Abilities

@{
    ViewBag.Title = "Home Page";
    var filter = ViewBag.Filter as FilterViewModel ?? new FilterViewModel();
    var vote = ViewModelHelper.GetVoteCookieValue();
    bool isAdmin = HttpContext.Current.User.IsInRole("Admin");
}

<div class="jumbotron">
    <h1>Рейтинг учителів-учасників конкурсу</h1>
    <p class="lead">За допомогою даної платформи ви можете обрати та проголосувати за свого кандидата.</p>
    @if (ParticipateInVotingAbility.IsAllowed())
    {
        <p><a href="@(!isAdmin ? "/participate" : "/admin/teachers/create")" class="btn btn-primary btn-lg">Взяти участь &raquo;</a></p>
    }
    else
    {
        <p>Ви уже у списку кандидатів!</p>
    }
</div>

@Html.Partial("_FilterBar", filter)

<div>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Work place</th>
            <th>Votes</th>
            <th></th>
        </tr>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@ViewModelHelper.GetFullName(teacher)</td>
                <td>@teacher.Subject.Name</td>
                <td>@teacher.WorkPlace</td>
                <td>
                    <span>@teacher.Votes</span>
                </td>
                <td>
                    <span hidden="@(!vote?.Equals(teacher.Id.ToString()))">
                        <button type="button" disabled="@(vote != null && vote.Equals(teacher.Id.ToString()))" data-teacherId="@teacher.Id" class="btn btn-primary btn-sm addVote">&uarr;</button>
                    </span>
                    <span hidden="@(!vote?.Equals(teacher.Id.ToString()))">
                        <button type="button" disabled="@(vote == null || vote != null && !vote.Equals(teacher.Id.ToString()))" data-teacherId="@teacher.Id" class="btn btn-primary btn-sm removeVote">&darr;</button>
                    </span>
                </td>
            </tr>
        }
    </table>
</div>